.memberRegister {
  width: 100vw;
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.register {
  width: 400px;
  background: #ffffff9d;
  /* border: 1px solid #dddfe2;
  box-shadow: 0 2px 4px rgb(0 0 0 / 10%), 0 8px 16px rgb(0 0 0 / 10%); */
  border-radius: 20px;
  padding: 2rem;
  text-align: center;
  /* margin-left: 40%; */
  margin-top: 2%;
}

.register > a {
  text-decoration: none;
}

.register > form > input {
  border-radius: 8px;
  /* border: 2px solid #dddfe2; */
  box-shadow: 0 2px 4px rgb(0 0 0 / 10%), 0 8px 16px rgb(0 0 0 / 10%);
  outline: none;
  color: #1d2129;
  margin: 0.5rem 0;
  padding: 0.5rem 0.75rem;
  width: 92%;
  font-size: 1rem;
  border: none;
  height: 25px;
}

.register > form > select {
  border-radius: 8px;
  /* border: 2px solid #dddfe2; */
  box-shadow: 0 2px 4px rgb(0 0 0 / 10%), 0 8px 16px rgb(0 0 0 / 10%);
  outline: none;
  color: #1d2129;
  margin: 0.5rem 0;
  padding: 0.5rem 0.75rem;
  width: 92%;
  height: 25px;
  font-size: 1rem;
  border: none;
}

.clicablediv {
  /* background-image: linear-gradient(135deg, #667eea 0%, #764ba2 100%); */
  background-image: linear-gradient(135deg, #ea66cd 0%, #00cdff 100%);
  /* border: 1px solid red; */
  color: #fff;
  font-size: 1.25rem;
  padding: 0.5rem;
  margin: 0.5rem 0;
  border-radius: 8px;
  outline: none;
  cursor: pointer;
  width: 300px;
  border: none;
  box-shadow: 0 2px 4px rgb(0 0 0 / 10%), 0 8px 16px rgb(0 0 0 / 10%);
}
.clicabledivRegsiter {
  background-image: linear-gradient(135deg, #ea66cd 0%, #00cdff 100%);
  box-shadow: 0 2px 4px rgb(0 0 0 / 10%), 0 8px 16px rgb(0 0 0 / 10%);
  border: none;

  /* border: 1px solid red; */
  color: #fff;
  font-size: 1.25rem;
  padding: 0.5rem;
  margin: 0.5rem 0;
  border-radius: 8px;
  outline: none;
  cursor: pointer;
  width: 300px;

  margin-top: 20px;
}
